<div>
	Consulta de Clientes
	
	<h3>{{erro}}</h3>
	
	
	
	<table id="tabela" class="table table-striped">
		<thead>
			<th>Nome</th>
			<th>CNPJ</th>
			<th>Endereco</th>
			<th>Cidade</th>
			<th>Estado</th>
			<th>Gera boleto</th>
		</thead>
		<tbody>
			<tr ng-repeat="cliente in clientes">
				<td>{{ cliente.nome }}</td>
				<td>{{ cliente.cnpj }}</td>
				<td>{{ cliente.endereco }}</td>
				<td>{{ cliente.cidade }}</td>
				<td>{{ cliente.estado }}</td>
				<td><input type='checkbox'></td>
				<td><button ng-click="">Imprime Notas</button></td>
			</tr>
		</tbody>
	</table>
</div>
